@page
@model WebApplication5.Pages.EditUser.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usermodel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.UserAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.UserAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.Mail)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Usermodel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
