@page
@model WebApplication5.Pages.EditUser.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usermodel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.UserAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.UserAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usermodel.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usermodel.Mail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usermodel?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
