@page
@model WebApplication5.Pages.EditUser.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserTable</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.UserAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.UserAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTable.IdNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTable.IdNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserTable?.Ussn">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
